@use '../abstracts/' as *;

.btn {
  padding: 0.9rem 2.2rem;
  border: none;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 10px hsl(12, 88%, 59%, 0.5);

  @include breakpoint(laptop) {
    padding: 0.9rem 2rem;
    font-size: 0.8rem;
  }
}

.btn__primary {
  background: $bright-red;

  &:hover {
    background: $bright-red-light;
  }
}

.btn__secondary {
  color: $bright-red;
  background: #fff;

  &:hover {
    color: $bright-red-light;
  }
}
